td{

    width: 5%;
    height: 8vh;
    text-align: center;
}
table{
    width: 100%;
}
h2{
    margin: 0;
    text-align: center;
}
text{
    text-align: center;
}
.ametais{
    border: solid; background-color: #b3d76a;
}
.gás_nobre{
    border: solid; background-color:#67afde;
}
.alcalinoterrosos{
    border: solid; background-color: 
    #efe55b;
}
.alcalinos{
    border: solid; background-color:#f5c95e;
}
.halogênio{
    border: solid; background-color:#66c4bc;

}
.Lantanídios{
    border: solid; background-color:#97d7e1;
}
.elementoazulcinza{
    border: solid; background-color:rgb(113, 132, 168);
}
.elementoroxo{
    border: solid; background-color:rgb(125, 61, 177);
}
.metaistransição{
    border: solid; background-color:#f2b0b0;
}
.border{
    width: 20px;height: 20px; margin-left: auto;
}
.border{
    width: 20px;height: 20px; margin-left: auto;}
.border{width: 20px;height: 20px; margin-left: auto;}
.border{width: 20px;height: 20px; margin-left: auto;}
.border{width: 20px;height: 20px; margin-left: auto;}
.border{width: 20px;height: 20px; margin-left: auto;}
.border{width: 20px;height: 20px; margin-left: auto;}
.border{width: 20px;height: 20px; margin-left: auto;}